<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>{{ title }}</title>

    {{# stylesheets }}
            <link rel="stylesheet" href="{{ basepath }}static/css/{{ . }}" />
    {{/ stylesheets }}
</head>

<body>
    {{& content }}

    {{# scripts }}
        <script src="{{ basepath }}static/js/{{ . }}"></script>
    {{/ scripts }}
</body>
</html>
